<div class="container" (mouseenter)="showPanel = true" (mouseleave)="showPanel = false">
    <div class="body" (click)="view()">
        <div class="image-wrapper">
            <img [src]="imageUrl" *ngIf="imageUrl" class="preview animate__animated  animate__zoomIn">
            <div class="time-ago animate__animated animate__fadeInUp">{{data.timeAgo}}</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!imageUrl"
            class="animate__animated  animate__fadeIn">
            <mat-spinner diameter="40"></mat-spinner>
        </div>
        <div class="favorite animate__animated animate__zoomIn" *ngIf="showPanel && !hideFavorite">
            <app-gif-favorite [data]="data.id"></app-gif-favorite>
        </div>
    </div>
    <mat-expansion-panel *ngIf="imageUrl" style="margin-bottom: 16px" class="animate__animated  animate__fadeInDown">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{data.title}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
            <img [src]="data.user.avatar" *ngIf="data.user.avatar" class="avatar" />
            <div fxFlex style="word-break: break-all;">{{data.user.username}}</div>
            <div>Rating: {{data.rating}}</div>
        </div>
    </mat-expansion-panel>
</div>